page-home {
    .btnMargin{
        margin-bottom: 20px;
    }

    .myBtn{
        height: 50px;
        font-weight: bold;
    }
    
    #googleLogin{
        background-color: #DB4437;
        
    }
  


.icon{
    height: 50px;
    position: absolute;
    right: 20px;
    border-left: 1px solid white;
    padding-left:10px;
    padding-top: 15px;
}
#vline{
    
    border-left: 1px solid white;
   
}
}
